body {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
} 

.container {
    display: flex;
    align-items: center;
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
    color:rgb(233, 98, 7);
}

.content-text { 
    color:rgb(233, 98, 7);
}

button {
    color:snow;
    background-color: rgb(0, 0, 0);
    width: 200px;
    align-self: center
}

img {
    width: 450px;
}

h2 {
    color: black;
}

#links{
    color:tomato;
    font-size: 20px;
}